@import "tailwindcss";
@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--gradient-background);
}

body {
  background: var(--gradient-background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

#__next {
  height: 100%;
}
